<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body style="background-color:black">

    <br />
    <br />
    <section class="content-header">
        <center>
            <h1 style="color:#FF0000">
                ¡El tiempo de espera se ha agotado!
            </h1>
        </center>
    </section>


    <br />
    <br />
    <center>
        <h1 style="color: #ffffff">
            Por favor vuelve a cargar la página anterior o ingresa nuevamente.
        </h1>
    </center>


    <br />
    <br />
    <br />
    <center>
        <img src="~/Images/GMI_no-bg.png" style="width:35%" />
    </center>



    <br />



    @{
        var oUser = (Usuarios)HttpContext.Current.Session["User"];



        GMIEntities db = new GMIEntities();



        if (oUser != null)
        {
            switch (oUser.idRol)
            {
                case 1:
                    ViewBag.Nombre = oUser.Nombre.ToString();
                    @Html.ActionLink("Haga click para volver al Inicio", "Index", "CallCenter", null, new { style = "color:white; text-decoration: none" })
                    break;
                case 2:
                    ViewBag.Nombre = oUser.Nombre.ToString();
                    @Html.ActionLink("Haga click para volver al Inicio", "Inicio", "Admin", null, new { style = "color:white; text-decoration: none" })
                    break;
                case 5:
                    ViewBag.Nombre = oUser.Nombre.ToString();
                    @Html.ActionLink("Haga click para volver al Inicio", "Index", "Sucursales", null, new { style = "color:white; text-decoration: none" })
                    break;
                case 3:
                    ViewBag.Nombre = oUser.Nombre.ToString();
                    @Html.ActionLink("Haga click para volver al Inicio", "Index", "Recepcion", null, new { style = "color:white; text-decoration: none" })
                    break;
                case 4:
                    ViewBag.Nombre = oUser.Nombre.ToString();
                    @Html.ActionLink("Haga click para volver al Inicio", "Index", "Contabilidad", null, new { style = "color:white; text-decoration: none" })
                    break;
                case 6:
                    ViewBag.Nombre = oUser.Nombre.ToString();
                    @Html.ActionLink("Haga click para volver al Inicio", "Index", "SkeedaPK", null, new { style = "color:white; text-decoration: none" })
                    break;
                case 7:
                    ViewBag.Nombre = oUser.Nombre.ToString();
                    @Html.ActionLink("Haga click para volver al Inicio", "Captura", "EPIs", null, new { style = "color:white; text-decoration: none" })
                    break;
                case 8:
                    ViewBag.Nombre = oUser.Nombre.ToString();
                    @Html.ActionLink("Haga click para volver al Inicio", "Index", "CERTIFICADOes", null, new { style = "color:white; text-decoration: none" })
                    break;
                case 10:
                    ViewBag.Nombre = oUser.Nombre.ToString();
                    @Html.ActionLink("Haga click para volver al Inicio", "Index", "GestorVenta", null, new { style = "color:white; text-decoration: none" })
                    break;



                default:
                    @Html.ActionLink("Haga click para volver al Inicio", "Inicio", "Login", null, new { style = "color:white; text-decoration: none" })
                    break;
            }
        }
        else
        {



        }
    }




</body>
</html>